name: CI


on:
  push:
    branches: [ "master" ]
  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Setup NodeJs
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
      
      - name: Install Dependencies
        run: yarn
      
      - name: Build
        run: yarn build
      
      - uses: appleboy/scp-action@master
        with:
          host: ${{secret.SSH_HOST}}
          usrname: ${{secret.SSH_USER}}
          port: ${{secret.SSH_PORT}}
          key: ${{secret.SSH_KEY}}
          source: "., !nide_module"
          targe: "teste"
